# --- PostgreSQL ---
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=my_database
POSTGRES_USER=my_user
POSTGRES_PASSWORD=my_password

# --- S3 compatible storage (Cloudflare R2, MinIO, etc.) ---
S3_ACCESS_KEY_ID=your_access_key_id
S3_SECRET_ACCESS_KEY=your_secret_access_key
S3_BUCKET_NAME=your_bucket_name
S3_ENDPOINT_URL=https://your_account_id.eu.r2.cloudflarestorage.com
BACKUP_PREFIX=backups/daily

# --- GPG ---
# Mot de passe de chiffrement symetrique GPG (AES-256)
GPG_PASSPHRASE=change_me_to_a_long_random_secret

# --- Notifications ---
WEBHOOK_URL=https://hooks.slack.com/services/XXX/YYY/ZZZ